/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.first_div{
    background-color: aqua;
    padding: 3px;
}

/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
.building_image{
    width: 50%;
    height: 50%;
}

/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.color_content {
    text-align: center;
    color: #ffffff;
    /* background-color: #6351ce;
    background-color: #6351ce;
    background-color: #9ee9f9;
    background-color: #0000ff;
    background-color: #00004c;
    background-color: #000033; */
    background-color: #191947;
    padding-top: 20px;
    padding-bottom: 20px;
}
.color_content span {display: block;}

/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.containers_image{
    width: 100px;
    height: 100px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
}
.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .pic img {transition: ease-in-out 0.3s;}
.team .member:hover {transform: translateY(-10px);}
  
.team .member .member-info {padding-left: 30px;}
.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}
.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}
.a_without_decoration {
    color: #47b2e4;
    text-decoration: none;
}
.a_without_decoration:hover {
    color: #73c5eb;
    text-decoration: none;
}
.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
.team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover {background: #47b2e4;}
.team .member .social a:hover i {color: #fff;}
.team .member .social a+a {margin-left: 8px;}
  
@font-face {
    font-family: "remixicon";
    src: url('remixicon/remixicon.eot?t=1690730386070'); /* IE9*/
    src: url('remixicon/remixicon.eot?t=1690730386070#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("remixicon/remixicon.woff2?t=1690730386070") format("woff2"),
    url("remixicon/remixicon.woff?t=1690730386070") format("woff"),
    url('remixicon/remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('remixicon/remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
    font-display: swap;
}
  
[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ri-twitter-fill:before { content: "\f23a"; }
.ri-facebook-fill:before { content: "\ecbc"; }
.ri-instagram-fill:before { content: "\ee65"; }
.ri-linkedin-box-fill:before { content: "\eeb3"; }


/*--------------------------------------------------------------
# Android screen resolutions
--------------------------------------------------------------*/
@media (max-width: 768px) {
    .building_image {
        width: 100%;
    }
    .containers_image{
        width: 50%;
    }
}