/*--------------------------------------------------------------
# General styling
--------------------------------------------------------------*/
a {color: #47b2e4;}  
a:hover {color: #73c5eb;}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Cutomized Scrolbar
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {width: 7px;}
/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e4e4e4;
    border-radius: 10px;
} */
/* Handle */
::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {background: #b30000;} */

/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.first_div{
    background-color: rgb(0, 102, 255);
    padding: 3px;
}

/*--------------------------------------------------------------
#
--------------------------------------------------------------*/
.div_text_style{font-size: 20px;}
.h1_text_style{
  font-size: 62px;
  font-weight: 700;
  color: #141c4d;
}
.button_effects {text-align: center;}
.button_effects:before, .button_effects:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}  
*:before, *:after {z-index: -1;}  
.a_button_effects {
    text-decoration: none;
    line-height: 80px;
    color: black;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}
@media (min-width: 600px) {
  .wrap {
      width: 50%;
      float: left;
  }
}
@-webkit-keyframes criss-cross-left {
    0% {left: -20px;}
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
   }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
   }
}
@keyframes criss-cross-left {
    0% {left: -20px;}
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
   }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
   }
}
@-webkit-keyframes criss-cross-right {
    0% {right: -20px;}
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
   }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
   }
}
@keyframes criss-cross-right {
    0% {right: -20px;}
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
   }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
   }
}
.a_button_effects {
    position: relative;
    color: #b1366e;
}
.a_button_effects:before, .a_button_effects:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #a31254;
    border-radius: 50%;
}
.a_button_effects:before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.a_button_effects:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.a_button_effects:hover {color: #e8c4d4;}
.a_button_effects:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.a_button_effects:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/* .div_image_align{
    margin-right: 50px;
} */
/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
.building_image{
    width: 50%;
    height: 50%;
}

/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.color_content {
    text-align: center;
    color: #ffffff;
    /* background-color: #6351ce;
    background-color: #6351ce;
    background-color: #9ee9f9;
    background-color: #0000ff;
    background-color: #00004c;
    background-color: #000033; */
    background-color: #191947;
    padding-top: 20px;
    padding-bottom: 20px;
}
.color_content span {display: block;}

/*--------------------------------------------------------------
# Colourful Line from the starting page
--------------------------------------------------------------*/
.containers_image{
    width: 150px;
    height: 200px;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {padding: 60px 100px 0 100px;}  
  .why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
  }  
  .why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }  
  .why-us .content p {
    font-size: 15px;
    color: #848484;
  }
  
  .why-us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .why-us .accordion-list {padding: 0 100px 60px 100px;}
  
  .why-us .accordion-list ul {
    padding: 0;
    list-style: none;
  }  
  .why-us .accordion-list li+li {margin-top: 15px;}  
  .why-us .accordion-list li {
    padding: 20px;
    background: #ededed;
    border-radius: 4px;
  }  
  .why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }  
  .why-us .accordion-list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }  
  .why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }  
  .why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }  
  .why-us .accordion-list .icon-show {display: none;}  
  .why-us .accordion-list a.collapsed {color: #343a40;}
  .why-us .accordion-list a.collapsed:hover {color: #47b2e4;}  
  .why-us .accordion-list a.collapsed .icon-show {display: inline-block;}  
  .why-us .accordion-list a.collapsed .icon-close {display: none;}  
  @media (max-width: 1024px) {  
    .why-us .content,
    .why-us .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .why-us .img {min-height: 400px;}  
    .why-us .content {padding-top: 30px;}  
    .why-us .accordion-list {padding-bottom: 30px;}
  }
  
@media (max-width: 575px) {
    .why-us .img {min-height: 200px;}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {background-color: #f3f5fa;}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {margin-bottom: 0;}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
.services .icon-box .icon {margin-bottom: 10px;}
.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}
.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {transform: translateY(-10px);}
.services .icon-box:hover h4 a {color: #47b2e4;}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
}
.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .pic img {transition: ease-in-out 0.3s;}
.team .member:hover {transform: translateY(-10px);}
.team .member .member-info {padding-left: 30px;}
.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}
.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}
.a_without_decoration {
    color: #47b2e4;
    text-decoration: none;
}
.a_without_decoration:hover {color: #73c5eb;}
.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
.team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a:hover {background: #47b2e4;}
.team .member .social a:hover i {color: #fff;}
.team .member .social a+a {margin-left: 8px;}  
@font-face {
    font-family: "remixicon";
    src: url('remixicon/remixicon.eot?t=1690730386070'); /* IE9*/
    src: url('remixicon/remixicon.eot?t=1690730386070#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("remixicon/remixicon.woff2?t=1690730386070") format("woff2"),
    url("remixicon/remixicon.woff?t=1690730386070") format("woff"),
    url('remixicon/remixicon.ttf?t=1690730386070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('remixicon/remixicon.svg?t=1690730386070#remixicon') format('svg'); /* iOS 4.1- */
    font-display: swap;
}  
[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ri-twitter-fill:before { content: "\f23a"; }
.ri-facebook-fill:before { content: "\ecbc"; }
.ri-instagram-fill:before { content: "\ee65"; }
.ri-linkedin-box-fill:before { content: "\eeb3"; }

/*--------------------------------------------------------------
# Android screen resolutions
--------------------------------------------------------------*/
@media (max-width: 768px) { 
    .div_text_style{
      /* font-size: 12px; */
      text-align: center;
    }
    .h1_text_style{
      font-size: 62px;
      font-weight: 700;
      color: #141c4d;
      /* text-align: center;
      font: bold; */
    }
    /* .div_image_align{
      padding-left: 50px;
      padding-right: 50px;
      width: 100px;
      height: 300px;
    } */
    .building_image {width: 50%;}
    .containers_image{
      width: 75%;
      height: 100%;
    }
}